.nav-bar{
    // background-color: #782e50;
    
    
    // background-image: radial-gradient(circle at 0% 0%, #ff6afb 0, #ff65f4 16.67%, #e75ee9 33.33%, #be55d8 50%, #964cc5 66.67%, #7143b4 83.33%, #4f3ca3 100%);;
    background-image: radial-gradient(circle at 69.24% 102.87%, #c467c7 0, #b059bf 25%, #9a49b6 50%, #833aad 75%, #6b2ea6 100%);
    max-height: 100px;
    img{
        max-height: 70px;
        max-width: 200px
    }
}